---
import Layout from "../../layout/Layout.astro";
import Main from "../../components/Main.astro";
import Navbar from "../../components/Navbar";
import ApplicationFetch from "../../components/ApplicationFetch";
import Footer from "../../components/Footer";

---

<Layout title="Student Application">
	<Main>
		<Navbar client:only="react" />
		<ApplicationFetch client:only="react" />
		<Footer client:only="react" />
	</Main>
</Layout>
