---
import Layout from "../../layout/Layout.astro";
import Navbar from "../../components/Navbar";
import UniLogin from "../../components/UniversityLogin";
---

<Layout title="University Login">
	<div>
		<Navbar client:only="react" />
		<UniLogin client:only="react" />
	</div>
</Layout>
