---
import Layout from "../../layout/Layout.astro";
import Main from "../../components/Main.astro";
import Navbar from "../../components/Navbar";
import UniLogin from "../../components/UniversityLogin";
import Footer from "../../components/Footer";

---

<Layout title="University Login">
	<Main>
		<Navbar client:only="react" />
		<UniLogin client:only="react" />
		<Footer client:only="react" />
	</Main>
</Layout>
