---
import Layout from "../../layout/Layout.astro";
import Navbar from "../../components/Navbar";
import ProfilePanel from "../../components/ProfilePanel";
---

<Layout title="Profile">
	<div>
		<Navbar client:load />
		<ProfilePanel client:only="react" />
	</div>
</Layout>
