---
import Layout from "../../layout/Layout.astro";
import Main from "../../components/Main.astro";
import Navbar from "../../components/Navbar";
import ProfileDocument from "../../components/ProfileDocument";
---

<Layout title="Home">
	<Main>
		<Navbar client:load />
		<ProfileDocument client:load />
	</Main>
</Layout>
