---
import Layout from "../../layout/Layout.astro";
import Main from "../../components/Main.astro";
import Navbar from "../../components/Navbar";
import ProfilePanel from "../../components/ProfileIndex";
import ApplicationInfo from "../../components/ApplicationInfo";
import Footer from "../../components/Footer";
import "../../assets/styles/index.css";
---

<Layout title="Profile">
	<Main>
		<Navbar client:load />
		<ProfilePanel client:load />
		<ApplicationInfo client:load />
		<Footer client:load />
	</Main>
</Layout>
