---
import Layout from "../../layout/Layout.astro";
import Main from "../../components/Main.astro";
import Navbar from "../../components/Navbar";
import ProfilePanel from "../../components/ProfilePanelUpdate";
---

<Layout title="Profile">
	<Main>
		<Navbar client:load />
		<ProfilePanel client:only="react" />
	</Main>
</Layout>
