---
import Layout from "../../layout/Layout.astro";
import Navbar from "../../components/Navbar";
import CountryPage from "../../components/Country";
---

<Layout title="Country Page">
	<div>
		<Navbar client:only="react" />
		<CountryPage client:only="react" />
	</div>
</Layout>
