---
import Layout from "../../layout/Layout.astro";
import Main from "../../components/Main.astro";
import Navbar from "../../components/Navbar";
import CountryPage from "../../components/Country";
import Footer from "../../components/Footer";
---

<Layout title="Country Page">
	<Main>
		<Navbar client:only="react" />
		<CountryPage client:only="react" />
		<Footer client:only="react" />
	</Main>
</Layout>
