---
import Layout from "../../layout/Layout.astro";
import Navbar from "../../components/Navbar";
import CoursesPage from "../../components/Courses";
---

<Layout title="Country Page">
	<div>
		<Navbar client:only="react" />
		<CoursesPage client:only="react" />
	</div>
</Layout>
