---
import Layout from "../../layout/Layout.astro";
import Main from "../../components/Main.astro";
import Navbar from "../../components/Navbar";
import CoursesPage from "../../components/Courses";
---

<Layout title="Country Page">
	<Main>
		<Navbar client:only="react" />
		<CoursesPage client:only="react" />
	</Main>
</Layout>
