---
import Layout from "../../layout/Layout.astro";
import Main from "../../components/Main.astro";
import Navbar from "../../components/Navbar";
import RootDashboard from "../../components/RootDashboard";

---

<Layout title="Dashboard">
	<Main>
		<Navbar client:only="react" />
		<RootDashboard client:only="react" />
	</Main>
</Layout>
