---
import Layout from "../../layout/Layout.astro";
import Navbar from "../../components/Navbar";
import RootDashboard from "../../components/RootDashboard";
---

<Layout title="Dashboard">
	<div>
		<Navbar client:only="react" />
		<RootDashboard client:only="react" />
	</div>
</Layout>
