---
import Layout from "../../layout/Layout.astro";
import Main from "../../components/Main.astro";
import Navbar from "../../components/Navbar";
import LoginForm from "../../components/RootLogin";
---

<Layout title="Root Panel">
	<Main>
		<Navbar client:only="react" />
		<LoginForm client:only="react" />
	</Main>
</Layout>
