---
import Layout from "../../layout/Layout.astro";
import Navbar from "../../components/Navbar";
import UniversityPage from "../../components/University";
---

<Layout title="University page">
	<div>
		<Navbar client:only="react" />
		<UniversityPage client:only="react" />
	</div>
</Layout>
