---
import Layout from "../layout/Layout.astro";
import Navbar from "../components/Navbar";
import Main from "../components/Main.astro";
import App from "../components/App";
import Footer from "../components/Footer";
import "../assets/styles/index.css";
---

<Layout title="Home">
	<Main>
		<Navbar client:only="react" />
		<App client:only="react" />
		<Footer client:load />
	</Main>
</Layout>