---
import Layout from "../layout/Layout.astro";
import Navbar from "../components/Navbar";
import App from "../components/App";
import "../assets/styles/index.css";
---

<Layout title="Home">
	<div>
		<Navbar client:only="react" />
		<App client:only="react" />
	</div>
</Layout>
