.info_block {
	width: 500px;
	height: 300px;
	background-color: var(--primary-900);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.more_info {
	width: 90%;
	margin: 150px auto;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1rem;
}

.more_info>div {
	width: auto;
	height: 300px;
	border-radius: 20px;
}

.item-0 {

	background-color: #C77DEB;
	grid-row-start: 1;
	grid-column-start: 1;

	grid-row-end: 2;
	grid-column-end: 4;

}

.item-1 {

	background-color: #DD8D6D;
	grid-row-start: 2;
	grid-column-start: 3;

	grid-row-end: 3;
	grid-column-end: 5;

}

.item-2 {

	background-color: #DD95D5;
	grid-row-start: 1;
	grid-column-start: 4;

	grid-row-end: 2;
	grid-column-end: 5;

}

.item-3 {

	background-color: #B8F9DF;
	grid-row-start: 2;
	grid-column-start: 1;

	grid-row-end: 3;
	grid-column-end: 3;

}
